<div id="header">
	GitHub Browser
	<span id="remainingReq">
		Remaining Requests
		<span class="badge badge-error">{{getRateLimit}}</span>
	</span>
</div>
<div id="content">
	<div class="input-group">
		{{input type="text" valueBinding="requestUrl" class="form-control" placeholder="" }}	
		<span {{action "makeRequest" on="click"}} class="input-group-addon" id="reqSubmit">Request</span>
	</div>
	{{#each item in model}}
		<div class="title {{item.subObjectClass}}">{{item.formattedTitle}}</div>
		<div class="link {{item.subObjectClass}}" {{action "copyUrl" item on="click"}}>{{{item.formattedUrl}}}</div>
		
	{{/each}}
</div>

{{outlet}}
